body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2E1;
}

header {
    background-color: #6C4E31;
    color: #EAD8C0;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #6C4E31;
    color: #FFF2E1;
    position: relative;
    bottom: 0;
    width: 100%;
}


#orders-section {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
    max-width: 800px;
    margin: 0 auto;
    background-color: #D1BB9E;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.order {
    display: flex; 
    flex-direction: column; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    gap: 0.5rem; 
}


.order-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}


.order-body ul {
    list-style: none;
    padding: 0;
}

.order-body li {
    margin: 0.5rem 0;
}


.status {
    font-weight: bold;
}

.status.delivered {
    color: #6C4E31;
}

.status.pending {
    color: #FED8B1;
}


.toggle-details {
    background-color: #A67B5B;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.toggle-details:hover {
    background-color: #6C4E31;
}


.order-details {
    margin-top: 1rem;
    background-color: #A79277;
    padding: 1rem;
    border-radius: 4px;
}

.hidden {
    display: none;
}

