body {
  background-color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
.head {
  font-family: 'Poppins', sans-serif; 
  font-size: 2.5rem; 
  color: white; 
  text-align: center; 
  margin: 0; 
  padding: 20px 0; 
  background: #705c53; 
  border-bottom: 2px solid #151412; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
  letter-spacing: 2px; 
}
.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  font-size: x-large;
  color: black;
  gap: 10px;
}

.wishlist-icon {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}
.recommendation {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.recommendation h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
}
.photo-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.photo-item {
  text-align: center;
  width: 200px; 
}

.photo-item img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.photo-item .price {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}
.photo-item p {
  color: black;
  font-size: 1rem;
  font-weight: normal;
}
