<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="wishlist.css">
  </head>
  <body>
    <h2 class="head">MY WISHLIST</h2>
    <div class="default">
        <img src="lovee.png" class="wishlist-icon" alt="Wishlist Icon">
        <p>Your Wishlist Is Empty!</p>
    </div>
    <div class="recommendation">
      <h3>You May Like That</h3>
      <div class="photo-row">
        <div class="photo-item">
          <img src="dress4.jpg" alt="Item 1">
          <p>Black Cotton Dress</p>
          <p class="price">1,549.00 EGP</p>
        </div>
        <div class="photo-item">
          <img src="dress3.jpg" alt="Item 2">
          <p >Purple Cotton Dress</p>
          <p class="price">1,248.00 EGP</p>
        </div>
        <div class="photo-item">
          <img src="dress2.avif" alt="Item 3">
          <p >Navy Girls Dress</p>
          <p class="price">950.00 EGP</p>
        </div>
      </div>
    </div>
  </body>
</html>
